<%- include("../partials/header") %>
	<div class ="container">
	<div class="row">
			<h1 style="text-align:center">
				Edit Comment
			</h1>	
		<div style="width:30%; margin: 30px auto">
			<form class="" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<!-- <label>Campground Name</label> -->
					<input type="text" name="comment[text]" value="<%= comment.text %>" class="form-control">
				</div>
				<button class="btn btn-lg btn-primary btn-block" > Edit</button> 
			</form>
		</div>
	</div>



<%- include("../partials/footer") %>